<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">

            <div class="text-center">observable-demo works!</div>
            <div class="text-center">There are some examples of custom observables created.</div>
            <div class="text-center">Made by following the RxJS and Angular signal course on Pluralsight</div>
            <div class="text-center">Open the console to see the result.</div>
        </div>
    </div>
</div>