<nav class="navbar navbar-expand navbar-light bg-light mb-2">
    <a class="navbar-brand" routerLink="/home">{{ pageTitle }}</a>
    <ul class="nav nav-pills">
        <li><a class="nav-link" routerLink="/home">Home</a></li>
        <li><a class="nav-link" routerLink="/products">Product List</a></li>
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle btn btn-link" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Observable
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" routerLink="/demo/observable/base">
                        Base
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/demo/observable/map">
                        Map
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/demo/observable/tap">
                        Tap
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>